{% block title %}
    3. Combat Movement
{% endblock %}

{% block body %}
    {% import 'AppBundle:Macro:button_collapse.html.twig' as buttonCollapse %}
    {{ buttonCollapse.create('combat_movement_general', 'General', block('general')) }}
    {{ buttonCollapse.create('combat_movement_blitzing', 'Blitzing', block('blitzing')) }}
    {{ buttonCollapse.create('combat_movement_naval_units', 'Naval Units', block('naval_units')) }}
    {{ buttonCollapse.create('combat_movement_air_units', 'Air Units', block('air_units')) }}
    {{ buttonCollapse.create('combat_movement_amphibious_assault', 'Amphibious Assault', block('amphibious_assault')) }}
    {{ buttonCollapse.create('combat_movement_scramble', 'Scramble', block('scramble')) }}
{% endblock %}

{% block general %}
    <div class="alert alert-info">
		A Combat Move is a move that ends in hostile territory
    </div>
    <div class="alert alert-danger">
        Only Powers at War can make a Combat Move.
    </div>
    <div class="alert alert-danger">
        Antiaircraft-Artillery may not do combat movement
    </div>
    <ul>
        <li>
            If there are no restrictions currently keeping you from being at war with a power on the other side, you may declare war on that power at the beginning of the Combat Move phase
        </li>
        <li>Move as many of your units into as many hostile territories and sea zones as you wish</li>
        <li>A land or sea unit can move a number of spaces up to its move value</li>
        <li> Most units must stop when they enter a hostile space</li>
        <li>You can move into a single hostile space from different spaces, as long as each moving unit can reach that space with a legal move</li>
        <li>You can move through friendly spaces during Combat Move, but not through Friendly Neutrals</li>
        <li>
            Combat Movements must end in hostile space (doesn't matter if that space is occupied or not)
            <br>
            <h5>Exceptions:</h5>
            <ul>
                <li>
                    Blitzing
                </li>
                <li>
                    Retreat from hostile Sea Zone
                </li>
                <li>
                    Units that take part in an Amphibious Assault
                </li>
                <li>
                    Sea units moving into a sea zone containing only enemy submarines and/or transports in order to attack those units (such a sea zone is not considered hostile)
                </li>
            </ul>
        </li>
        <li>If you move all of your units out of a territory you control, you still retain control of that territory until an enemy moves into and captures it</li>
        <li>Units from the same side can freely share territories and space on aircraft carriers and transports with one another, as long as both powers are at war</li>
        <li>Enemy submarines and/or transports do not block any of your units’ movement</li>
    </ul>
{% endblock %}

{% block naval_units %}
    <h5>Naval Bases</h5>
    <ul>
        <li>All ships beginning their movement from a sea zone serviced by an operative friendly naval base gain 1 additional movement point</li>
    </ul>
    <h5>Aircraft Carriers</h5>
    <ul>
        <li>
            Although they don’t have an attack value, carriers can still participate in an attack and can take hits, as long at least 1 unit with an attack value attacks along with them
        </li>
        <li>
            Any fighters or tactical bombers on an aircraft carrier launch before the carrier moves and move independently of the carrier. These air units can make a combat move from the carrier’s initial sea zone, or they can remain in that sea zone until the Noncombat Move phase
        </li>
        <li>
            Guest aircraft belonging to a friendly power on board another power’s carrier must remain on board as cargo if the carrier moves in combat. They can’t take part in combat and are destroyed if the carrier is destroyed
        </li>
    </ul>
    <h5>Submarines</h5>
    <ul>
        <li>Submarines are capable of moving undetected due to their ability to submerge</li>
        <li>If there are no enemy destroyers present, a submarine can move through a sea zone containing enemy warships without stopping</li>
    </ul>
{% endblock %}

{% block amphibious_assault %}
    <div class="alert alert-info">An Amphibious Assault is a special combat movement that consists of the announced intent to offload units from a transporter into a hostile territory.</div>
    <div class="alert alert-danger">You can only offload units into hostile territory from a friendly sea zone. You can try to be make this sea zonei friendly during the Conduct Combat Phase, but if that fails, the transport has to retreat</div>
    <ul>
        <li>If a transport loads land units during the Combat Move phase, it must offload those units to attack a hostile territory as part of an amphibious assault during the Conduct Combat phase, or it must retreat during the sea combat step of the amphibious assault sequence while attempting to do so</li>
        <li>Amphibious Assaults (offloading land units from transporters into a target territory) must be announced in the Combat Move Phase</li>
        <li>Amphibious Assaults can only commence when the sea zone from which the transporter unloads is friendly</li>
        <li>When the sea zone from which the transporter unloads is hostile it has to be made friendly through sea battle before the Amphibious Assault can commence</li>
        <li>A transport is not allowed to offload land units for an amphibious assault in a sea zone containing 1 or more ignored enemy submarines unless at least 1 warship belonging to the attacking power is also present in the sea zone at the end of the Combat Move phase</li>
        <li>Moving transports and their cargo into a sea zone from which you plan to make an amphibious assault counts as a combat move, even if there are no defending surface warships there and there is no potential for air units to be scrambled</li>
        <li>If an amphibious assault involves a sea combat, any air units participating in the assault must move to either the sea zone or the land territory. They will then participate only in the part of the assault to which they have moved</li>
        <li>Any land units aboard a transport are considered cargo until they offload. Cargo can’t take part in sea combat and is destroyed if the transport is destroyed</li>
    </ul>
{% endblock %}

{% block blitzing %}
    <div class="alert alert-info">
		Blitzing is a special move that is exclusive to the tank and allows him to move through unoccuopied hostile territory
    </div>
    <ul>
        <li>
            A tank can blitz by moving through an unoccupied hostile territory as the first part of a move that can end in a friendly or hostile territory
        </li>
        <li>
            In addition, 1 mechanized infantry unit can move along with each blitzing tank
        </li>
        <li>
            The blitzing units establish control of the first territory before they move to the next
        </li>
        <li>
            A tank that encounters enemy units, including AAA (antiaircraft artillery) units, or an industrial complex, air base, or naval base, in the first territory it enters must stop there and may not blitz
        </li>
    </ul>
{% endblock %}

{% block air_units %}
    <ul>
        <li>When taking off from a territory that has an operative friendly air base, air units gain 1 additional movement point</li>
        <li>Air Units that fly over territories with Antiaircraft Artillery do not get shot upon by these</li>
    </ul>
{% endblock %}

{% block scramble %}
    <div class="alert alert-info">After the attacker finished his combat movements and declared all attacks the <strong>defender</strong> has the opportunity to scramble up to 3 Fighters and/or Tactical Bombers from an operative air base to defend against attacks in or amphibious assaults from adjacent sea zones</div>
    <div class="alert alert-danger">Strategic bombers can’t scramble</div>
    <ul>
        <li>Up to 3 defending fighters and/or tactical bombers located on each island or coastal territory that has an operative air base can be scrambled to defend against attacks in the sea zones adjacent to those territories</li>
        <li>In situations where a sea zone is adjacent to more than one territory containing an air base, each of the territories can scramble up to 3 fighters and/or tactical bombers</li>
        <li>In situations where a territory containing an air base is adjacent to more than one sea zone, the territory may still only scramble up to 3 fighters and/or tactical bombers, but they may be split between the sea zones in any combination</li>
        <li>You can also scramble to resist amphibious assaults from adjacent sea zones, whether or not the territory being assaulted is the territory containing the air base. They may defend against the enemy ships conducting the amphibious assault even if friendly ships are not present.</li>
        <li>Scrambled fighters and tactical bombers are treated as normal defending units in their sea zones</li>
        <li>After all combat is completed, each surviving scrambled air unit must return to the territory from which it was scrambled. If the enemy has captured that territory, the unit can move 1 space to land in a friendly territory or on a friendly aircraft carrier. If no such landing space is available, the unit is lost. Surviving scrambled air units land during that turn’s Noncombat Move phase, before the attacker makes any movements</li>
    </ul>
{% endblock %}
