{% form_theme form 'AppBundle:Form:form_battle_calculator_layout.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#battle-form"
           aria-expanded="{% if active %}true{% else %}false{% endif %}" aria-controls="battle-form">
            <div class="panel-heading" role="tab" id="heading-battle-form">
                <h4 class="panel-title">
                    Battle Calculator
                </h4>
            </div>
        </a>
        <div id="battle-form" class="panel-collapse collapse{% if active %} in{% endif %}" role="tabpanel"
             aria-labelledby="heading-battle-form">
            <div class="panel-body">
                {{ form_start(form) }}
                    <div class="row">
                        <fieldset>
                            <div class="col-xs-12">
                                {{ form_widget(form.type) }}
                                {{ form_errors(form.type) }}
                            </div>
                            <div class="col-xs-12">
                                {{ form_label(form.accuracy) }}
                                {{ form_widget(form.accuracy) }}
                                {{ form_errors(form.accuracy) }}
                            </div>
                        </fieldset>

                        {# TODO: find a dynamic solution for this (maybe fieldsets?) #}
                        <div class="col-xs-12 col-sm-6">
                            <fieldset>
                                <legend>Attacker</legend>
                                {{ form_row(form.attacker_infantry) }}
                                {{ form_row(form.attacker_mechanized_infantry) }}
                                {{ form_row(form.attacker_artillery) }}
                                {{ form_row(form.attacker_tank) }}
                                {{ form_row(form.attacker_fighter) }}
                                {{ form_row(form.attacker_tactical_bomber) }}
                                {{ form_row(form.attacker_strategic_bomber) }}
                                {{ form_row(form.attacker_transport) }}
                                {{ form_row(form.attacker_submarine) }}
                                {{ form_row(form.attacker_destroyer) }}
                                {{ form_row(form.attacker_cruiser) }}
                                {{ form_row(form.attacker_aircraft_carrier) }}
                                {{ form_row(form.attacker_battleship) }}
                            </fieldset>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <fieldset>
                                <legend>Defender</legend>
                                {{ form_row(form.defender_infantry) }}
                                {{ form_row(form.defender_mechanized_infantry) }}
                                {{ form_row(form.defender_artillery) }}
                                {{ form_row(form.defender_tank) }}
                                {{ form_row(form.defender_antiaircraft_artillery) }}
                                {{ form_row(form.defender_fighter) }}
                                {{ form_row(form.defender_tactical_bomber) }}
                                {{ form_row(form.defender_strategic_bomber) }}
                                {{ form_row(form.defender_transport) }}
                                {{ form_row(form.defender_submarine) }}
                                {{ form_row(form.defender_destroyer) }}
                                {{ form_row(form.defender_cruiser) }}
                                {{ form_row(form.defender_aircraft_carrier) }}
                                {{ form_row(form.defender_battleship) }}
                            </fieldset>
                        </div>
                        <div class="col-xs-12">
                            {{ form_rest(form) }}
                        </div>

                    </div>
                {{ form_end(form) }}

                <div class="row">

                    <div class="col-xs-12">
                        <div class="alert {% if result|default and result.attackerWins > 0.8 %}alert-success{% elseif result|default and result.attackerWins < 0.2 %}alert-danger{% else %}alert-info{% endif %} battle-calculator-result">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th colspan="2">
                                                    Attacker
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>Win probability</td>
                                            <td>
                                                <input disabled aria-disabled="true" value="{% if result|default %}{{ result.attackerWins * 100 }}%{% endif %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Units lost &Oslash;</td>
                                            <td>
                                                <input class="battle-calculator-result-input" disabled aria-disabled="true" value="{% if result|default %}{{ result.attackerLostUnits }}{% endif %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>IPCs lost &Oslash;</td>
                                            <td>
                                                <input class="battle-calculator-result-input" disabled aria-disabled="true" value="{% if result|default %}{{ result.attackerLostIpc }}{% endif %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Units remaining &Oslash;</td>
                                            <td>
                                                <input class="battle-calculator-result-input" disabled aria-disabled="true" value="{% if result|default %}{{ result.attackerRemainingUnits }}{% endif %}">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th colspan="2">
                                                    Defender
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>Win probability</td>
                                            <td>
                                                <input class="battle-calculator-result-input" disabled aria-disabled="true" value="{% if result|default %}{{ result.defenderWins * 100}}%{% endif %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Units lost &Oslash;</td>
                                            <td>
                                                <input class="battle-calculator-result-input" disabled aria-disabled="true" value="{% if result|default %}{{ result.defenderLostUnits }}{% endif %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>IPCs lost &Oslash;</td>
                                            <td>
                                                <input class="battle-calculator-result-input" disabled aria-disabled="true" value="{% if result|default %}{{ result.defenderLostIpc }}{% endif %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Units remaining &Oslash;</td>
                                            <td>
                                                <input class="battle-calculator-result-input" disabled aria-disabled="true" value="{% if result|default %}{{ result.defenderRemainingUnits }}{% endif %}">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
