{% block title %}
    Sea Units
{% endblock %}

{% block body %}

    <div class="alert alert-info">
        <ul>
            <li>
                All Sea Units can attack, move and defend only in Sea Zones
            </li>
            <li>
                All Sea Units can move 2 sea zones (3 when starting from a sea zone, that is serviced by a Naval Base)
            </li>
            <li>
                Only Submarines can move through hostile sea zones (but they have to stop when an enemy Destroyer is present)
            </li>
            <li>A Sea Zone is hostile, when it contains an enemy surface warship (Battleship, Carrier, Cruiser or Destroyer)</li>
            <li>All Sea Units except Transports can conduct Convoy Disruptions</li>
        </ul>
    </div>

    {% import 'AppBundle:Macro:button_collapse.html.twig' as buttonCollapse %}
    {{ buttonCollapse.create('unit_sea_units_transport', 'Transport', block('transport')) }}
    {{ buttonCollapse.create('unit_sea_units_submarine', 'Submarine', block('submarine')) }}
    {{ buttonCollapse.create('unit_sea_units_destroyer', 'Destroyer', block('destroyer')) }}
    {{ buttonCollapse.create('unit_sea_units_cruiser', 'Cruiser', block('cruiser')) }}
    {{ buttonCollapse.create('unit_sea_units_aircraft_carrier', 'Aircraft Carrier', block('aircraft_carrier')) }}
    {{ buttonCollapse.create('unit_sea_units_battleship', 'Battleship', block('battleship')) }}
{% endblock %}

{% block battleship %}
    <table class="table table-bordered">
        <tr>
            <td><strong>Cost</strong></td>
            <td>20</td>
        </tr>
        <tr>
            <td>
                <strong>Attack</strong>
            </td>
            <td>4</td>
        </tr>
        <tr>
            <td>
                <strong>Defense</strong>
            </td>
            <td>4</td>
        </tr>
        <tr>
            <td>
                <strong>Move</strong>
            </td>
            <td>2</td>
        </tr>
    </table>
    <h5>Unit Characteristics</h5>
    <ul>
        <li><strong>Capital Ship: </strong>Requires 2 hits to be destroyed</li>
        <li><strong>Offshore Bombardment: </strong>Can conduct offshore bombardment during an amphibious assault</li>
    </ul>
{% endblock %}

{% block cruiser %}
    <table class="table table-bordered">
        <tr>
            <td><strong>Cost</strong></td>
            <td>12</td>
        </tr>
        <tr>
            <td>
                <strong>Attack</strong>
            </td>
            <td>3</td>
        </tr>
        <tr>
            <td>
                <strong>Defense</strong>
            </td>
            <td>3</td>
        </tr>
        <tr>
            <td>
                <strong>Move</strong>
            </td>
            <td>2</td>
        </tr>
    </table>
    <h5>Unit Characteristics</h5>
    <ul>
        <li><strong>Offshore Bombardment: </strong>Can conduct offshore bombardment during an amphibious assault</li>
    </ul>
{% endblock %}

{% block destroyer %}
    <table class="table table-bordered">
        <tr>
            <td><strong>Cost</strong></td>
            <td>8</td>
        </tr>
        <tr>
            <td>
                <strong>Attack</strong>
            </td>
            <td>2</td>
        </tr>
        <tr>
            <td>
                <strong>Defense</strong>
            </td>
            <td>2</td>
        </tr>
        <tr>
            <td>
                <strong>Move</strong>
            </td>
            <td>2</td>
        </tr>
    </table>
    <h5>Unit Characteristics</h5>
    <ul>
        <li><strong>Anti-Sub Vessel: </strong>Cancels the "Treat Hostile Sea Zones as Friendly", "Surprise Strike", "Submersible", and "Can’t Be Hit by Air Units" unit characteristics of enemy submarines</li>
    </ul>
{% endblock %}

{% block submarine %}
    <table class="table table-bordered">
        <tr>
            <td><strong>Cost</strong></td>
            <td>6</td>
        </tr>
        <tr>
            <td>
                <strong>Attack</strong>
            </td>
            <td>2</td>
        </tr>
        <tr>
            <td>
                <strong>Defense</strong>
            </td>
            <td>1</td>
        </tr>
        <tr>
            <td>
                <strong>Move</strong>
            </td>
            <td>2</td>
        </tr>
    </table>
    <h5>Unit Characteristics</h5>
    <ul>
        <li><strong>Surprise Strike: </strong>
            <ul>
                <li>Attacking and defending Submarines can conduct a Surprise Strike on step 2 of the General Combat Phase</li>
                <li>Each attacking submarine conducting a Surprise Strike rolls one die, hitting with a 2 or less for the attacking player, and with a 1 or less for the defending player</li>
                <li>For each hit, the attacked player takes one sea unit and moves it behind the casualty strip (undamaged capital ships are not removed, but take damage)</li>
                <li>Transports
                    can be chosen as casualties only if there are no other
                    eligible units. Submerged submarines can’t be chosen as
                    casualties since they have been removed from the battle</li>
                <li>Once all attacking and defending submarines that
                    conducted a Surprise Strike have fired, the generated casualties are removed from the game</li>
                <li>Submarines that submerged or fired on this step may not attack or defend on step 3 and 4 of the General Combat Phase</li>
                <li>Destroyers cancel this unit characteristic</li>
            </ul>
        </li>
        <li><strong>Submersible: </strong>
            <ul>
                <li>Can submerge to not participate in an upcoming battle. It is removed from the Battle Strip and returned to the game board in the contested sea zone</li>
                <li>Destroyers cancel this unit characteristic</li>
            </ul>
        </li>
        <li><strong>On Station: </strong>Rolls 2 dice when disrupting a convoy</li>
        <li><strong>Treat Hostile Sea Zones as Friendly: </strong>
            <ul>
                <li>Can move through a sea zone that contains enemy units, either in combat or noncombat movement</li>
                <li>If it enters a sea zone containing an enemy destroyer, it must end its movement there. If it ends its combat move in a hostile sea zone, combat will occur.</li>
            </ul>
        </li>
        <li><strong>Doesn’t Block Enemy Movement: </strong>
            <ul>
                <li>Any sea zone that contains only enemy submarines doesn’t stop the movement of a sea unit.</li>
                <li>Sea units ending their combat movement in a sea zone containing only enemy submarines may choose to attack them or not.</li>
                <li>Sea units can also end their noncombat movement in a sea zone containing only enemy submarines</li>
            </ul>
        </li>
        <li><strong>Can’t Hit Air Units: </strong>When attacking or defending,submarines can’t hit air units</li>
        <li><strong>Can’t Be Hit by Air Units: </strong>
        <ul>
            <li>When attacking or defending, hits scored by air units can’t be assigned to submarines</li>
            <li>Destroyers cancel this unit characteristic</li>
    </ul>
{% endblock %}

{% block transport %}
    <table class="table table-bordered">
        <tr>
            <td><strong>Cost</strong></td>
            <td>7</td>
        </tr>
        <tr>
            <td>
                <strong>Attack</strong>
            </td>
            <td>0</td>
        </tr>
        <tr>
            <td>
                <strong>Defense</strong>
            </td>
            <td>0</td>
        </tr>
        <tr>
            <td>
                <strong>Move</strong>
            </td>
            <td>2</td>
        </tr>
    </table>
    <h5>Unit Characteristics</h5>
    <ul>
        <li><strong>No Combat Value: </strong>Cannot fire in the defending units fire step, but can be taken as casualty. Can never attack.</li>
        <li><strong>Doesn’t Block Enemy Movement: </strong>
            <ul>
                <li>Any sea zone that contains only enemy transports doesn’t stop the movement of a sea unit.</li>
                <li>Sea units ending their combat movement in a sea zone containing only enemy transports automatically destroy all transports</li>
                <li>Sea units can also end their noncombat movement in a sea zone containing only enemy transports</li>
            </ul>
        </li>
        <li><strong>Chosen Last: </strong>Can be chosen as casualties only if there are no other eligible units</li>
        <li><strong>Carry Land Units: </strong>
            <ul>
                <li>Can carry land units belonging to you or to friendly powers</li>
                <li>Capacity: any 1 land unit, plus 1 additional infantry</li>
            </ul>
        </li>
        <li><strong>Loading and Offloading: </strong>
            <ul>
                <li>Can load units in friendly sea zones before, during, and after it moves</li>
                <li>It can offload in only one territory, and once it offloads, it can’t move, load, or offload again that turn.</li>
                <li>Cannot offload to hostile territory (exception: Amphibious Assault)</li>
                <li>Loading onto and/or offloading from a transport counts as a land unit’s entire move; it can’t move before loading or after offloading</li>
                <li>Bridging: A transport can load and offload units without moving from the friendly sea zone it’s in</li>
                <li>Land units belonging to friendly powers must load on their controller’s turn, be carried on your turn, and offload on a later turn of their controller</li>
            </ul>
        </li>
        <li><strong>Amphibious Assaults: </strong>
            <ul>
                <li>Can offload units to hostile territory from a friendly (or just made-friendly) sea zone</li>
                <li>If the sea zone could not be made friendly, the transport has to retreat</li>
                <li>Has to offload all units at once</li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block aircraft_carrier %}
    <table class="table table-bordered">
        <tr>
            <td><strong>Cost</strong></td>
            <td>16</td>
        </tr>
        <tr>
            <td>
                <strong>Attack</strong>
            </td>
            <td>0</td>
        </tr>
        <tr>
            <td>
                <strong>Defense</strong>
            </td>
            <td>2</td>
        </tr>
        <tr>
            <td>
                <strong>Move</strong>
            </td>
            <td>2</td>
        </tr>
    </table>
    <h5>Unit Characteristics</h5>
    <ul>
        <li><strong>Capital Ship: </strong>Requires 2 hits to be destroyed</li>
        <li><strong>Carry Aircraft: </strong>Can carry up to 2 air units (but not Strategic Bombers), including those belonging to friendly powers</li>
        <li><strong>Air Defense: </strong>Whenever an undamaged carrier is attacked,
            its aircraft (even those belonging to friendly powers) are
            considered to be defending in the air and fight normally. If the carrier is
            destroyed or damaged in combat, they must try to land
            on a different friendly carrier in the same sea zone, move
            1 space to a friendly carrier or territory, or be destroyed</li>
        <li>A damaged carrier can’t conduct air operations, which means that no air units may take off from or land on it</li>
    </ul>
    <div class="alert alert-danger">
        Carrier aircraft move independently of the carrier on
        their own turn. They move along with the carrier on its
        turn if they belong to different powers. On the air units’
        turn, they launch before the carrier moves, even if they
        are not leaving the sea zone themselves. It’s possible for
        the carrier to make a combat movement while leaving its
        aircraft behind to make a noncombat movement later.
    </div>
{% endblock %}